header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#7C5E99;
    border-bottom: 10px solid #000000;
    padding: 10px 20px;
}

h1 {
    font-family: "Press start 2P", sans-serif;
    color: #FFF;
    text-shadow: 5px 5px 0px #000;
}

.menu{
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    color: #FFF;
    font-family: "Fira Code";
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    content: "";
    display: inline-block;
    background-color: #F25A70;
    height: 10px;
    width: 10px;
    margin-right: 10px;
}

#button {
    display: inline-block;
    background-color: #F25A70;
    box-shadow: 5px 5px 0px #000000;
    padding: 12.96px 20px 12.96px 1px;
    margin-right: 0px;
    transition: transform 100ms linear
}

#button:hover {
    transform: scale(0.8);
    border-radius:50%;
}
