.node-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.node-card::before {
    content: '';
    box-sizing: border-box;
    height: 0px;
    width: 40px;
    border: 2.5px dashed #000;
}

.node-card .title {
    font-size: 25px;
    font-weight: 400;
    color:#F25A70;
    font-family: 'Press Start 2P', sans-serif;
    margin-bottom: 50px;
}

.node-card .local-logo {
    display: flex;
    align-items: center;
    height: 140px;
    border: 5px solid #000;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #CEB02A;
}